body {
    background-color: brown;
}
h1{
    color: white;
    text-align: center;
    font-style: oblique;
}

a,.fl .lists,p{
    color: burlywood;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif; 
    text-decoration: none;   
}

h2,h4,div,li{
    color: burlywood;
}

a:hover{
    color: black;
}
ul{
    text-decoration: none;
    list-style: none;
}
